@keyframes example {
    from {transform: scale(0.8);}
    to {transform: scale(1);}
}
/* common style */
body{
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: #2D25A0;
    height: 677px;
}
header:hover{
    background-image: url(images/players/player-2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

}
button{
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    color: white;
    border: none;
    font-size: 16px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    width: 1050px;
    margin-top: 40px;
}
/* header styles/ */

.banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.banner-title{
    width: 484px;
    height: 317px;
    padding-left: 60px;
}
.banner-title h1{
    font-size: 64px;
    color: white;
    margin: 0 0 5px 0;
}
.fa-arrow-right{
    padding-left: 8px;
   
}
.banner-img img{
    width: 556px;
    height: 456px;
}
/* player article style */
.articles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;


}
.player-card{
    padding: 15px;
    background-color: white;
    box-shadow: 1px 1px 5px grey;
    width: 300px;
    margin-top: 27px;
}
.player-card img{
    width: 300px;
    height: 256px;
}
.article-ifo h2{
    font-size: 28px;
    font-weight: bold;
}
.argentina{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.argentina-thumbnall{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.argentina-thumbnall button{
    margin-top: 20px;
}

/* footer style */
footer{
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    margin-top: 100px;
}
footer img{
    width: 483px;
    height: 110px;
}
.social-icon{
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* media query */
/* for mobail  */
@media only screen and (max-width:688px) {
    body{
        margin: 0;
    }
    header:hover .banner-img img{
        display: none;
    }
    .banner{
        flex-direction: column;
        row-gap: 37px;
    }
    .banner-title, .banner-img{
        width: 329px;
        height: 250px;
        font-size: 36px;
        padding-left: 10px;

    }
    .banner-img img{
        width: 300px;
        height: 240px;
    }
    .banner-title h1{
        font-size: 36px;
        
    }
    .container{
        width: 100%;
    }
    .articles{
        grid-template-columns: repeat(1, 1fr);
        place-content: center;
        grid: none;
    }
    footer img{
        width: 350px;
    }
    .argentina-thumbnall iframe{
        width: 400px;

        height: 290px;
        
    }

}
/* for ipad  */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    body{
        overflow-x: hidden;
    }
    header{
        width: 100%;
    }
    .banner-title{
       width: 100%; 
    }

    .banner-img img{
       width: 100%;
    }
    .banner-title h1{
        font-size: 36px;
    }
    .container{
        width: 100%;
    }
    .articles{
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }
    ;
}